<!DOCTYPE html>
<html ng-app="brochureApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Brochure</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/navbar.css" rel="stylesheet">
    <link href="/static/css/xeditable.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="mainCntl">

    <div id="wrap">
    <div class="container">

      <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/" ng-click="clearActive()">Brochure</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li id="bestbuyList">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">BestBuy <b class="caret"></b></a></a>
                    <ul class="dropdown-menu">
                      <li><a href="/store/bestbuy/product">Products</a></li>
                      <li><a href="/store/bestbuy/page">Promotion Page</a></li>
                      <li><a href="/store/bestbuy/instore">Instore Clearance</a></li>
                      <li><a href="/store/bestbuy/area">Area Clearance</a></li>
                      <li><a href="/store/bestbuy/online">Online Clearance</a></li>
                    </ul>
                </li>
                <li id="msstoreList">
                  <a href="/store/msstore/page">Microsoft Store</a>
                </li>
                <li id="staplesList">
                  <a href="/store/staples/page">Staples</a>
                </li>
                <li id="radioList">
                  <a href="/store/radio/page">RadioShack</a>
                </li>
                <li id="homeList">
                  <a href="/store/home/page">Homedepot</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi {{ request.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#" data-toggle="modal" data-target="#settings">Settings</a></li>
                      <li><a href="/signout/">Signout</a></li>
                    </ul>
                </li>
              </ul>
            </div><!-- /.nav-collapse -->

          </div><!-- /.container -->
      </div><!-- /.navbar -->

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12">
          <div ng-view>

          </div>

            <!-- Settings -->
            <div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">Settings</h3>
                  </div>
                  <form class="form-horizontal" role="form" action="/save_settings/" method="post">
                    <div class="modal-body">
                      <h3>Per Page</h3>
                      <hr/>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">BB Single</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" name="bb_single_page" placeholder="20" value="{{ s.bb_single_page }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">BB Promotion</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" name="bb_promotion_page" placeholder="20" value="{{ s.bb_promotion_page }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">BB Instore</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" name="bb_instore_page" placeholder="20" value="{{ s.bb_instore_page }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">BB Regional</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" name="bb_regional_page" placeholder="20" value="{{ s.bb_regional_page }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">MSStore</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" name="msstore_page" placeholder="20" value="{{ s.msstore_page }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">RadioShack</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" name="radioshack_page" placeholder="20" value="{{ s.radioshack_page }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">HomeDepot</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" name="homedepot_page" placeholder="20" value="{{ s.homedepot_page }}">
                        </div>
                      </div>
                      <h3>Per Round</h3>
                      <hr/>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">BB Single</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" name="bb_single_round" placeholder="20" value="{{ s.bb_single_round }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">BB Promotion</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" name="bb_promotion_round" placeholder="20" value="{{ s.bb_promotion_round }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">BB Instore</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" name="bb_instore_round" placeholder="20" value="{{ s.bb_instore_round }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">BB Regional</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" name="bb_regional_round" placeholder="20" value="{{ s.bb_regional_round }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">MSStore</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" name="msstore_round" placeholder="20" value="{{ s.msstore_round }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">RadioShack</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" name="radioshack_round" placeholder="20" value="{{ s.radioshack_round }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">HomeDepot</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" name="homedepot_round" placeholder="20" value="{{ s.homedepot_round }}">
                        </div>
                      </div>
                      <h3>Filter Condition</h3>
                      <hr/>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Amount</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="amount" placeholder="20" value="{{ s.amount }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Percent</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="percent" placeholder="0.8" value="{{ s.percent }}">
                        </div>
                      </div>
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                  </div>
                  </form>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <!-- Error Message -->
            <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Sorry but ...</h4>
                  </div>
                  <div class="modal-body">
                  {% verbatim %}
                    {{ info }}
                  {% endverbatim %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/.container-->
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Courtesy Zheng Yan.</p>
      </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-resource.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/angular-bootstrap.min.js"></script>
    <script src="/static/js/angular-bootstrap-prettify.min.js"></script>
    <script src="/static/js/angular-route.min.js"></script>
    <script src="/static/js/angular-animate.min.js"></script>
    <script src="/static/js/xeditable.js"></script>
    <script src="/static/js/spin.min.js"></script>
    <script src="/static/js/controllers.js"></script>
  </body>
</html>
